/* font-family: 'Indie Flower', cursive; */

/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }

  a:hover{
      color: rgb(105, 207, 118);
      transform: scale(1.1);
  }

body{
    font-family: 'Great Vibes', cursive;
}

h1{
    font-size: 4.5em;
    margin: 10px;
}

h3{
    font-size: 2.5em;
    margin: 10px;
}

h5{
    font-size: 1.5em ;
    margin: 10px;
}

.hero{
    background: linear-gradient(to bottom right, #6a3093, #a044ff);

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

/* .hero h1,h3{
    animation: bounce 0.75s 1;
} */

.hero1{
    background: linear-gradient(to bottom right, #ffe259, #ffa751);
    height:100vh;
    flex-direction: column;
}

.bt{
    width:100%;
    border: 2px solid black;
}

.ind{
    background-color: rgba(0,0,0,0.1);
}

.menu{
    width:100%;
    background: yellow;
    height: 60px;
    word-spacing: 10px;
    /* position: fixed; */
}

.menu ul{
    text-align: center;
}

.menu ul li{
    list-style: none;
    display: inline-block; 
}

.menu ul li a{
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    padding: 0px 15px 0px 15px;
}

.services{
    widows: 100%;
    background: linear-gradient(to top right, #40E0D0, #FF8C00, #FF0080);
    /* background-color: hsl(0, 0%, 95%); */
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.services h1{
    color: rgba(48, 42, 42, 0.993);
}


.service{
    widows: 100%;
    background: linear-gradient(to right, #1488CC , #2B32B2);
    /* background-color: hsl(0, 0%, 95%); */
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.service h1{
    color: white;
}


.col-wrapper{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.service-col{
    width:33.33%;
    float: left;
    padding: 10px 30px 10px 30px;
}

.service-col img{
    width: 300px;
    height: 250px;
    max-width: 100%;
    filter: grayscale(50%);
}

.service-co{
    width:31.33%;
    float: left;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    border : 1px solid gray;
    border-radius: 5%;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5); 
    background: linear-gradient(to left, #D3CCE3, #E9E4F0);
    
}

.service-co p{
    /* color :white; */
    margin: 5px;
}

.service-co img{
    width: 230px;
    height: 200px;
    max-width: 100%;
}

.service-co:hover{
    transform: scale(1.1);
}

.service-col img:hover{
    filter:grayscale(0%);
    transform: scale(1.2);
}

.col-wrapper::after{
    clear: both;
    display: table;
    content: "";
}

.aboutus{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-image: url(ab.jpg);
    background-size: 100%  600px;
    color:white;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.abo-con{
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: rgba(0,0,0,0.2);
}

.abt-btn{
    background: rgba(0,0,0,0.01);
    padding: 10px;
    margin-top: 30px;
    border:none;
    outline: 1px solid rgba(240, 199, 66, 0.849);
    color: white
}


.team{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom right, #3494E6, #EC6EAD);
    color: white;
}

.team-wrapper{
    width:90%;
    padding-top: 50px;
    margin: auto;
    align-content: center;
    
}

.col-team{
    width:33.33%;
    float: left;
    padding: 10px 30px 10px 30px;
}

.col-team img{
    width: 80px;
    max-width: 100%;
}

.col{
     max-width: 200px;
     background: linear-gradient(to bottom right,#FF8008, #FFC837);
     border: 1px solid rgba(0,0,0,0.09);
     box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.09); 
     color: rgba(48, 42, 42, 0.993);
}

.team-wrapper::after{
    clear: both;
    content: "";
    display: table;
}

.wiki{
    background: linear-gradient(to bottom right, #a8ff78, #78ffd6);
    /* color:white; */
    
}

.inwiki{
    align-items: stretch;
    border: 2px solid gray;
    background: rgba(0,0,0,0.1);
    padding: 10px 15px 10px 15px;
    padding-left: 30px;
    outline-style: ridge;
    outline-color: yellow;
    font-size: 1.5em;
    word-spacing: 5px;
}

.boun{
    height : 400px;
    width : 600px;
    background: rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 100%;
    animation: bounce 0.3s 1;

}

.nob :hover{
    transform: scale(1.3);
}

@keyframes bounce{
    0%{
        transform: translateY(-200px);
    }
    60%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(-15px);
    }
    100%
    {
        transform: translateY(0px);
    }
}